body{
    box-sizing: border-box;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
   
}
a{
    text-decoration: none;
}
header{
    border: solid 1px black;
    background-image: url(img/3744.jpg);
}
#head{
    display: flex;
    justify-content: space-between;
}
menu{
    margin: 20px 40px 20px 0 ;
    padding: 0;
}
menu>a{
    padding: 7px 14px;
    
    color: white;
    
 }
 menu>a:hover{
     border: solid 1px;
     padding:6px 13px ;
     border-radius:15px;
 }
 #logo{
     font-size: 25px;
     font-weight: bold;
     color: white;
     margin: 14px 0 14px 40px;
 }
 #one{
    margin: 200px 0 100px 0;
    color: white;
}
 #arrow{
     width: 35px;
     height: 35px;
     padding-bottom: 4px;
     border-radius: 22px;
     border: none;
     background-color: yellowgreen;
     transform: rotate(90deg);
     margin-bottom: 50px;
    }
#arrow>a{

color: white;
font-size: 26px;
margin-left: 3px;
}
/* header end */
#bouncy{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 150px 600px 300px 150px;
}
#textBouncy{
    text-align: left;
    line-height: 1.7;
}
#textBouncy>button{
    margin-top: 40px;
    padding: 0;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px;
    background-color: white;
    
 }
 #textBouncy>button>a{
    text-decoration: none;
    color: black;
    
 }
/* bouncy end */
#details{
    padding: 50px 0;   
    background-color: rgb(238, 238, 238);
}
#logoImg{
    padding: 50px 0;
}
#logoImg>a>img{
    padding: 0 10px;
    border-radius: 30px;
}
#detailsGrid{
    display: grid;
    grid-template-columns: 150px 250px 150px 500px 150px;
    text-align: left;
    line-height: 1.7;
}
#featureImg{
    height: 300px;
}
/*details end  */
#featuredProj>div:first-child{
    margin: 60px 0;
}

#featureSubmit{
    display: flex;
    padding: 30px 0;
    background-color: rgba(39, 163, 115, 0.781);
    color: white;
    
}
#featureSubmit>div>a{
    
    color: white;
}
#featureSubmit>div:first-child{
    width: 900px;
    margin-top: 23px;
}
#featureSubmit>div>button{
    width: 120px;
    height: 60px;
    border-radius: 30px;
    background-color:unset;
    border: solid 1px white;
    
}
#featureSubmit>div>button>a{
    color: white;
}
#servicesGrid{
    display: grid;
    grid-template-columns: 100px 100px 400px 50px 550px;
    
}
#servisesText{
    text-align: left;
    line-height: 1.7;
}
.servisesLink{
    font-weight: bold;
    color: rgb(39, 163, 115);
}
#impressed{
    display: flex;
    margin: 50px 0;
    background-color: rgb(48, 44, 44);
}
#impressed>div:first-child{
    margin: 50px;
    text-align: left;
    color: white;
    width: 600px;
    line-height: 1.7;
}
#impressed>div>a{
    color:rgb(39, 163, 115)
}
#impressed>div>img{
    margin-top: -50px;
}
/* featured project and services end */
#portfolioGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}




     
 
