body{
    box-sizing: border-box;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    /* background-color: rgb(155, 217, 219); */
    background-image:url(img/splashing-165192_1280.jpg);
    color: white;
}
.head{
    display: inline-flex;
    justify-content: flex-end;
}
#logo{
    font-size: 20px;
    font-weight: bold;
    color: rgb(246, 250, 1);
}
menu{
    min-width: 400px; ;
}
menu>a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:visited{
    color: white 
}
h1{
    margin-top: 0;
}
h2,h3{
    margin-bottom: 0;
}
button{
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    background-color:rgba(0, 4, 255, 1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
button>a{
    text-decoration: none;
    color: white;
    }
.divH3{
    margin: 80px 0 20px 0;
}

#aboutFlex{
    display:flex;
    justify-content:space-around;
}
#aboutFlex>div{
    width:180px ;
    text-align: justify;
}
.aboutFoto{
    border-radius: 200px;
    width: 180px;
    height: 180px;
}


#divServices{
    background-color: rgba(175, 205, 230, 0.377);
    padding: 80px 0 30px 0;
}
#services{
    background-color: rgba(175, 205, 230, 0.377);
    display: grid;
    grid-template-columns: 160px 220px 220px 220px 160px;
    grid-template-rows: 230px 230px 100px;
    gap: 10px 5px;
}
.services{
    width:200px;
    height:200px;
}

#divBlog{
    padding: 80px 0 30px 0;
}
.round{
    width:250px;
    height:250px;
    border-radius: 120px; 
}
#blog{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 250px 250px 250px 250px 250px 100px;
    gap: 10px;
}
.left{
  text-align: right;
}
.right{
    text-align: left;
}

.divContact{
    background-color: rgba(175, 205, 230, 0.377);
    padding: 20px 0;
    text-align: center;
}
#contactGrid{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 250px;
    background-color: rgba(175, 205, 230, 0.377);
}



textarea{
    resize: none;
}
footer{
    border: solid black 1px;
   background-image: url(img/stars-1436950_1280.jpg);
}
#formFlex{
    display: flex;
    justify-content: center;

}
.input>input{
    margin:0 9px 9px 0;
}
#submit{
    width: 80px;
    height: 30px;
    margin: 0 9px 20px 0;
    background-color: burlywood;
}